

DIV#TableTools {
  	position: absolute;
	> DIV.State {
		position: absolute;
		text-align: right;
	}
}

TABLE.ttActive[jsclass="CrossTable"] {
	TR.ttHighlight {
		$RowHoverColor: #FFEDDE;

		&.ttSelected > TH {
			background-color: #F0F0FF !important;
		}

		@mixin zBand($name, $color, $color2) {
			> .#{$name} {
				@content;
				@if $color != transparent {
					background-color: $color;
				}
			}
			&:hover > .#{$name} {
				@if $color == transparent {
					background-color: $color2;
				}
			}
		}

		@include zBand(zSkip, transparent, $RowHoverColor) {
			color: #808080;
		}

		@include zBand(zBandNeg2, #FF0000, $RowHoverColor) {
			font-weight: bold;
		}

		@include zBand(zBandNeg1, #FFc0c0, $RowHoverColor) {

		}

		@include zBand(zBand0, transparent, $RowHoverColor) {

		}

		@include zBand(zBandPos1, #c0FFc0FF, $RowHoverColor) {

		}

		@include zBand(zBandPos2, #00FF00, $RowHoverColor) {
			font-weight: bold;
		}

		&.Tagged, > TD.Tagged {
			outline: 2px solid deeppink !important;
		}

		&:hover {
			background-color: $RowHoverColor;
			//outline: 2px solid red !important;
		}
		//&:hover {
		//	background-color: inherit;
		//	outline: 2px solid red !important;
		//
		//	TH, TD {
		//		//background-color: currentColor, #FF0000A0;
		//		//border-top: 2px solid red !important;
		//		//border-bottom: 2px solid red !important;
		//	}
		//}
		DIV.ttPlots {
			white-space: nowrap;

			> SPAN:nth-child(1) {
				font-family: "Fira Code", monospace;
				font-size: 10px;
			}
			> SPAN:nth-child(2) {
				width: 50px;
			}
			> SPAN {
				vertical-align: middle;
				display: inline-block;
				padding: 0px 1px;
			}
		}
		&.RSD10 {
			TH, TD {
				border-bottom: 2px solid #0F0;
				//border-bottom-color: #5f5;
			}
		}

		&.RSD15 {
			TH, TD {
				border-bottom: 2px dashed #060;
				//border-bottom-width: 2px;
				//border-bottom-style: dashed;
				//border-bottom-color: #090;
				//border-bottom-color: #5f5;
				//border-bottom-color: #0F0;
			}
		}

		&.RSD20 {
			TH, TD {
				border-bottom:  2px  #060 dotted;
				//border-bottom-width: 3px;
				//border-bottom-style: wave;
				//border-bottom-color: #050;
				//border-bottom-color: #afa;
			}
		}
	}
}
